text.node {
    font: 14px sans-serif;
    font-weight: 650;
}

.root {
    font: 18px sans-serif;
    font-weight: 650;
}

div.tooltip {
    position: absolute;
    text-align: left;
    display: inline-block;
    padding: 5px;
    font: 14px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
}

.link {
    fill: none;
    /* stroke color is assigned by position in the tree */
    stroke-opacity: 0.5;
    stroke-width: 3px;
}

.subsequence {
    opacity: 0.5;
}

.subsequence.highlight {
    opacity: 1;
}

.link.highlight {
    stroke-opacity: 1;
}

.sequence-rect {
    fill: white;
    stroke-width: 1px;
    stroke: black;
}
