text.node {
    font: 12px sans-serif;
}

.link {
    fill: none;
    stroke: rgb(36, 33, 33);
    stroke-opacity: 0.5;
    stroke-width: 3px;
}

div.tooltip {   
    position: absolute;                       
    text-align: left;                   
    width: 300px;                                      
    height: 200px;                                 
    padding: 5px;                             
    font: 12px sans-serif;                
    background: lightsteelblue;       
    border: 0px;          
    border-radius: 8px;                       
}

