circle.node {
    fill: #be2714;
    stroke-width: 1;
    r: 7px;
}

text.node {
    font: 10px sans-serif;
}

.link {
    fill: none;
    stroke: rgb(36, 33, 33);
    stroke-opacity: 0.5;
    stroke-width: 3px;
}
